@media  (min-width: 320px){
.ant-rate-star{
    margin: 5;
   
    width: 15px;
}


.ant-rate{
    font-size: 17px;
}
.card{
    display: grid;
    position: relative;
    padding: 5px;
    grid-template-columns: 20% 80%;
    grid-template-rows: 45% 55%;
    min-height: 260px;
    min-width: 357px;
}
.title{
    padding-left: 5px;
}
.title h5 {
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
}

.overview{
    max-height: 6rem;
    
    font-size: 12px;
    line-height: 22px;
    padding-top: 5px;
    overflow: hidden;
}
.poster {
    grid-column-start: 1;
    
}
.wrap-overview{
    grid-column-start: 1;
    padding: 5px;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.stars {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;
}

}

@media (min-width: 580px){
    .card{
        grid-template-columns: 40% 60%;
        grid-template-rows: 45% 55%;
        min-height: 270px;
    }
    .poster {
        grid-column-start: 1;
        grid-row: 1/3;
    }
    .wrap-overview{
        grid-row: 2/3;
        grid-column-start: 2;
    }
    
}

